argon2-cffi
argon2-cffi-bindings
async-generator
attrs
backcall
beautifulsoup4
bleach
blinker
cffi
chardet
checkbox-support
cryptography
dataclasses
decorator
defer
defusedxml
distro-info
entrypoints
feedparser
guacamole
html5lib
httplib2
idna
importlib-metadata
ipykernel
ipython
ipython-genutils
jedi
Jinja2
jsonschema
jupyter-client
jupyter-core
jupyterlab-pygments
language-selector
louis
lxml
Mako
MarkupSafe
mistune
nbclient
nbconvert
nbformat
nest-asyncio
notebook
oauthlib
onboard
packaging
padme
pandocfilters
parso
pexpect
pickleshare
Pillow
plainbox
prometheus-client
prompt-toolkit
ptyprocess
pyasn1
pycparser
pycups
pycurl
Pygments
PyGObject
PyJWT
pyparsing
pyrsistent
python-apt
python-dateutil
python-debian
python-systemd
pyxdg
PyYAML
pyzmq
reportlab
requests
Send2Trash
sessioninstaller
six
system-service
terminado
testpath
tornado
traitlets
typing_extensions
ubuntu-advantage-tools
ubuntu-drivers-common
ufw
unattended-upgrades
unity-scope-calculator
unity-scope-chromiumbookmarks
unity-scope-colourlovers
unity-scope-devhelp
unity-scope-firefoxbookmarks
unity-scope-gdrive
unity-scope-manpages
unity-scope-openclipart
unity-scope-texdoc
unity-scope-tomboy
unity-scope-virtualbox
unity-scope-yelp
unity-scope-zotero
urllib3
usb-creator
wcwidth
webencodings
xdiagnose
xkit
XlsxWriter
zipp
